<% section = 'account' %>
<%- include ('header.ejs') %>
<h1 class="page-header">My Account</h1>
<%- include ('alerts.ejs') %>
<div class="row">
    <% if (user.role == "master") { %>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">openHAB Settings</h3>
                <form method="post" action="/account">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <div class="form-group">
                        <label for="openhabuuid" class="form-label">openHAB UUID</label>
                        <input type="text" class="form-control" id="openhabuuid" name="openhabuuid" value="<%= openhab ? openhab.uuid : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="openhabsecret" class="form-label">openHAB Secret</label>
                        <input type="password" class="form-control" id="openhabsecret" name="openhabsecret" value="<%= openhab ? openhab.secret : '' %>">
                    </div>
                    <% if (!openhab) { %>
                    <div class="alert alert-info">No openHAB installation is connected to your account. Enter your UUID and secret below.</div>
                    <% } %>
                    <button type="submit" class="btn btn-primary"><%= openhab ? 'Update' : 'Register' %></button>
                </form>
            </div>
        </div>
    </div>
    <% } %>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Change Password</h3>
                <form method="post" action="/accountpassword">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <div class="form-group">
                        <label for="oldpassword" class="form-label">Old password</label>
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">New password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="password1" class="form-label">Re-type new password</label>
                        <input type="password" class="form-control" id="password1" name="password1">
                    </div>
                    <button type="submit" class="btn btn-primary">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card border-danger">
    <div class="card-body">
        <h3 class="card-title text-danger">Danger Zone</h3>
        <div class="d-flex gap-3">
            <a class="btn btn-danger" href="/itemsdelete">Delete Items and Events</a>
            <a class="btn btn-danger" href="/accountdelete">Delete Account</a>
        </div>
    </div>
</div>
<%- include ('footer.ejs') %>
