<% section = 'applications' %>
<%- include header.ejs %>
<style type="text/css">
    #map-canvas { width: 100%; height: 350px;}
    .nav-subitem {
        margin-left: 20px;
    }
</style>
<!-- page content -->
<section id="content" class="sidebar">
    <header class="headerPage">
        <div class="container clearfix">
            <div class="row">
                <h1 class="span8">My Applications</h1>
                <div class="span4" id="navTrail"> <a href="/" class="homeLink">home</a><span>/</span>Applications</div>
            </div>
        </div>
    </header>
    <div class="slice clearfix">
        <div class="container">
            <%- include alerts.ejs %>
            <div class="row">
                <aside class="span3" id="sidebar">
                    <nav id="subnav">
                        <div class="littleShadow"></div>
                    </nav>
                    <% if (oauth2tokens.length == 0) { %>
                    <section id="widgetArea">
                        <div class="widget">
                            <h3>No Applications</h3>
                            <p>You currently have no applications authorized with openHAB Cloud.</p>
                        </div>
                    </section>
                    <% } %>
                </aside>
                <div class="span9">
                    <% if (oauth2tokens.length > 0 ) { %>
                    <table class="table">
                        <thead>
                        <tr><th>Authorized at</th><th>Application</th><th>Description</th><th></th></tr>
                        </thead>
                        <% for (var i=0; i<oauth2tokens.length; i++) { %>
                        <tr>
                            <td>
                                <%= date_util(oauth2tokens[i].created, timeZone).calendar() %>
                            </td>
                            <td>
                                <a href="<% oauth2tokens[i].oAuthClient.homeUrl %>"><img style="height: 24px;" src="/img/oauth2/<%= oauth2tokens[i].oAuthClient.icon %>"><%= oauth2tokens[i].oAuthClient.name %></a>
                            </td>
                            <td>
                                <%= oauth2tokens[i].oAuthClient.description %>
                            </td>
                            <td>
                                <a href="/applications/<%=oauth2tokens[i].id%>/delete"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content -->
<%- include footer.ejs %>
