<% section = 'applications' %>
<%- include ('header.ejs') %>
<h1 class="page-header">My Applications</h1>
<%- include ('alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <% if (oauth2tokens.length == 0) { %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No Applications</h5>
                <p class="card-text">You currently have no applications authorized with openHAB Cloud.</p>
            </div>
        </div>
        <% } %>
    </div>
    <div class="col-md-9">
        <% if (oauth2tokens.length > 0) { %>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr><th>Authorized at</th><th>Application</th><th>Description</th><th></th></tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < oauth2tokens.length; i++) { %>
                <tr>
                    <td><%= date_util(oauth2tokens[i].created, timeZone).toRelativeCalendar() %></td>
                    <td>
                        <a href="<% oauth2tokens[i].oAuthClient.homeUrl %>"><img class="oauth-icon" src="/img/oauth2/<%= oauth2tokens[i].oAuthClient.icon %>" alt="">&nbsp;<%= oauth2tokens[i].oAuthClient.name %></a>
                    </td>
                    <td><%= oauth2tokens[i].oAuthClient.description %></td>
                    <td><a href="/applications/<%=oauth2tokens[i].id%>/delete" class="text-danger" title="Delete"><i class="bi bi-trash"></i></a></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
    </div>
</div>
<%- include ('footer.ejs') %>
