<% section = '' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Enroll for Beta</h1>
<%- include ('alerts.ejs') %>
<div class="row">
    <div class="col-md-4 mb-4">
        <h2>Early Beta</h2>
        <p>
            openHAB Cloud is currently running in a closed beta stage. Because we are limited in our resources
            and on the other hand we don't want you to get upset by openHAB Cloud experience, we let new users in
            in chunks and track the performance of our system.
        </p>
        <p>
            If you want to be one of the first to see this service and help us make it better before the public
            launch, please fill in the form and enroll for our beta. As soon as we have the capacity, you will
            get an invitation to join!
        </p>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/enroll">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" <% if (typeof email != 'undefined') { %>value="<%=email%>"<% } %>>
                    </div>
                    <div class="form-group">
                        <label for="platform" class="form-label">Operating System</label>
                        <select class="form-select" name="platform" id="platform">
                            <option value="" selected>Select your OS...</option>
                            <option value="linux">Linux</option>
                            <option value="linuxemb">Linux Embedded</option>
                            <option value="windows">Windows</option>
                            <option value="osx">Mac OS X</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="java" class="form-label">Java Experience</label>
                        <select class="form-select" name="java" id="java">
                            <option value="" selected>Select your Java experience...</option>
                            <option value="none">What is Java?</option>
                            <option value="newbie">Newbie</option>
                            <option value="developer">Java developer</option>
                            <option value="guru">Java guru</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="descr" class="form-label">Description</label>
                        <textarea class="form-control" id="descr" name="descr" rows="4" placeholder="Please provide short description of your installation and bindings and technologies you use"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enroll me!</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('footer.ejs') %>
