<% section = 'events' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Events</h1>
<%- include ('alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link active" href="/events">All</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr><th>When</th><th>Where</th><th>What</th></tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < events.length; i++) { %>
                <tr class="<% if (events[i].color == 'good') { %>event-good<% } else if (events[i].color == 'bad') { %>event-bad<% } else { %>event-info<% } %>">
                    <td><%= date_util(events[i].when, timeZone).toRelativeCalendar() %></td>
                    <td><a href="/events?source=<%=events[i].source%>"><%= events[i].source %></a></td>
                    <td><%= events[i].status %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <%- include ('_pagination.ejs') %>
    </div>
</div>
<%- include ('footer.ejs') %>
