<% section = 'login' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Sign In</h1>
<%- include ('alerts.ejs') %>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Sign In</h3>
                <form method="post" action="/login">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <div class="form-group">
                        <label for="username" class="form-label">Email</label>
                        <input type="email" class="form-control" name="username" id="username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <a href="/lostpassword">Forgot your password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
        <% if (registration_enabled) { %>
        <div class="text-center mb-3">
            <span>Don't have an account?</span>
            <a data-bs-toggle="collapse" href="#registerCollapse" role="button" aria-expanded="false">Create an Account</a>
        </div>
        <div class="collapse" id="registerCollapse">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Register</h3>
                    <%- include ('_register-form.ejs') %>
                </div>
            </div>
        </div>
        <% } %>
        <div class="text-center mb-3">
            <a href="https://www.openhab.org/addons/integrations/openhabcloud/" target="_blank" rel="noopener noreferrer">Documentation <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
    </div>
</div>
<%- include ('footer.ejs') %>
