<% section = 'login' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Lost My Password</h1>
<%- include ('alerts.ejs') %>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Set your new password</h3>
                <form method="post" action="/lostpasswordreset">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <input type="hidden" name="resetCode" value="<%= resetCode %>">
                    <div class="form-group">
                        <label for="password" class="form-label">New password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="New password">
                    </div>
                    <div class="form-group">
                        <label for="password2" class="form-label">Repeat new password</label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat new password">
                    </div>
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('footer.ejs') %>
