<% section = 'notifications' %>
<%- include ('header.ejs') %>
<h1 class="page-header">Notifications</h1>
<%- include ('alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link active" href="/notifications">All</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr><th style="width: 20%">When</th><th>What</th></tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < notifications.length; i++) { %>
                    <% const title = notifications[i].payload && notifications[i].payload.type === 'hideNotification' ? '(Hide Notification)' : notifications[i].message %>
                <tr>
                    <td><%= date_util(notifications[i].created, timeZone).toRelativeCalendar() %></td>
                    <td><%= title %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <%- include ('_pagination.ejs') %>
    </div>
</div>
<%- include ('footer.ejs') %>
