<% section = 'notifications' %>
<%- include ('header.ejs') %>
<!-- page content -->
<section id="content" class="sidebar">
    <header class="headerPage">
        <div class="container clearfix">
            <div class="row">
                <h1 class="span8">Notifications</h1>
                <div class="span4" id="navTrail"> <a href="/" class="homeLink">home</a><span>/</span>Notifications</div>
            </div>
        </div>
    </header>
    <div class="slice clearfix">
        <div class="container">
            <%- include ('alerts.ejs') %>
            <div class="row">
                <aside class="span3" id="sidebar">
                    <nav id="subnav">
                        <ul>
                            <li class="active"><a href="/events">All</a></li>
                            <li ><a href="">Today</a></li>
                            <li ><a href="">Last week</a></li>
                        </ul>
                        <div class="littleShadow"></div>
                    </nav>
                    <!-- <section id="widgetArea">
                        <div class="widget">
                            <h3> widget 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut auctor lorem. Curabitur at lobortis nulla. Sed tincidunt, orci sit amet varius ornare,</p>
                        </div>
                    </section> -->
                </aside>
                <div class="span9">
                    <table class="table table-hover">
                        <thead>
                        <tr><th class="col-sm-2">When</th><th class="col-sm-10">What</th></tr>
                        </thead>
                        <% for (var i=0; i<notifications.length; i++) { %>
                        <tr><td class="col-sm-2"><%= date_util(notifications[i].created, timeZone).toRelativeCalendar() %></td>
                            <td class="col-sm-10"><%= notifications[i].message %></td>
                        </tr>
                        <% } %>
                    </table>
                    <% if (pages > 5) { pages = 5 } %>
                    <% if (pages > 1) { %>
                    <div class="pagination pagination-centered">
                        <ul>
                            <% if (page > 0) { %><li> <a href="?page=<%= page-1 %>"> Prev </a> </li><% } %>
                            <% for (var i=0; i <= pages; i++) { %>
                            <li <% if (i == page) {%>class="active"<%}%>> <a href="?page=<%= i %>"><%= i+1 %></a> </li>
                            <% } %>
                            <% if (page < pages) { %><li> <a href="?page=<%= page+1 %>"> Next </a> </li><% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content -->
<%- include ('footer.ejs') %>
