<% section = 'oauth2' %>
<%- include ('header.ejs') %>
<h1 class="page-header">OAuth2 Authorization</h1>
<%- include ('alerts.ejs') %>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Application Authorization</h3>
                <p>
                    Application <strong><%= oauthClient.name %></strong> is requesting access to your account for the following scope:
                </p>
                <p><%= scope.description %></p>
                <form action="/oauth2/authorize/decision" method="post">
                    <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <input type="hidden" name="scope" value="ifttt">
                    <div class="d-flex gap-2">
                        <button name="submit" type="submit" class="btn btn-primary" id="allow" value="Allow">Allow</button>
                        <button name="cancel" type="submit" class="btn btn-secondary" id="deny" value="Deny">Deny</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('footer.ejs') %>
