<% section = 'users' %>
<%- include ('header.ejs') %>
<h1 class="page-header">My Users</h1>
<%- include ('alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/users/add"><i class="bi bi-plus-circle"></i> Add new user</a></li>
                <% for (let i = 0; i < users.length; i++) { %>
                <li class="nav-item"><a class="nav-link<% if (users[i]._id == selectedUserId) { %> active<% } %>" href="/users/<%=users[i]._id%>"><i class="bi bi-person"></i> <%=users[i].username%></a></li>
                <% } %>
            </ul>
        </nav>
        <% if (users.length == 0) { %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No Users</h5>
            </div>
        </div>
        <% } %>
    </div>
    <div class="col-md-9">
        <% if (usersAction == 'list') { %>
            <% if (users.length > 0) { %>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr><td>Username:</td><td><%=users[selectedUserArrayId].username%></td></tr>
                    <tr><td>Role:</td><td><%=users[selectedUserArrayId].role%></td></tr>
                    </tbody>
                </table>
            </div>
            <a href="/users/delete/<%=users[selectedUserArrayId].id%>" class="btn btn-danger">Delete user</a>
            <% } %>
        <% } else if (usersAction == 'add') { %>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add New User</h3>
                    <form method="post" action="/users/add">
                        <input type="hidden" name="_csrf" value="<%= token %>">
                        <div class="form-group">
                            <label for="username" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="username" id="username" placeholder="Email address" <% if (typeof username != 'undefined') { %>value="<%=username%>"<% } %>>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="form-label">Verify password</label>
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Verify password">
                        </div>
                        <div class="form-group">
                            <label for="role" class="form-label">Role</label>
                            <select class="form-select" name="role" id="role">
                                <option value="master">Master user</option>
                                <option value="user" selected>Regular user</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add user</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%- include ('footer.ejs') %>
