<% section = 'staff' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Staff</h1>
<%- include ('../alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/staff/stats">Stats</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff">Enrollments</a></li>
                <li class="nav-item"><a class="nav-link active" href="/staff/invitations">Invitations</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff/oauthclients">OAuth Clients</a></li>
            </ul>
        </nav>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Search by Email</h5>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Created</th>
                    <th>Email</th>
                    <th>Code</th>
                    <th>Last notification</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < invitations.length; i++) { %>
                <tr>
                    <td><%= date_util(invitations[i].created, timeZone).toRelativeCalendar() %></td>
                    <td><%= invitations[i].email %></td>
                    <td><%= invitations[i].code %></td>
                    <td><%= date_util(invitations[i].lastNotified, timeZone).toRelativeCalendar() %></td>
                    <td>
                        <a href="/staff/resendinvitation/<%=invitations[i].id%>" title="Resend invitation"><i class="bi bi-envelope"></i></a>
                        <a href="/staff/deleteinvitation/<%=invitations[i].id%>" class="text-danger" title="Delete"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <%- include ('../_pagination.ejs') %>
    </div>
</div>
<%- include ('../footer.ejs') %>
