<% section = 'staff' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Staff</h1>
<%- include ('../alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/staff/stats">Stats</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff">Enrollments</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff/invitations">Invitations</a></li>
                <li class="nav-item"><a class="nav-link active" href="/staff/oauthclients">OAuth Clients</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Client Id</th>
                    <th>Active</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < oauthclients.length; i++) { %>
                <tr>
                    <td><img class="oauth-icon" src="/img/oauth2/<%= oauthclients[i].icon %>" alt=""></td>
                    <td><%= oauthclients[i].name %></td>
                    <td><%= oauthclients[i].clientId %></td>
                    <td><%= oauthclients[i].active %></td>
                    <td><%= date_util(oauthclients[i].created, timeZone).toRelativeCalendar() %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <%- include ('../_pagination.ejs') %>
    </div>
</div>
<%- include ('../footer.ejs') %>
