<% section = 'staff' %>
<%- include ('../header.ejs') %>
<!-- page content -->
<section id="content" class="sidebar">
    <header class="headerPage">
        <div class="container clearfix">
            <div class="row">
                <h1 class="span8">Staff</h1>
                <div class="span4" id="navTrail"> <a href="index.html" class="homeLink">home</a><span>/</span>Staff<span>/</span>Enrollments</div>
            </div>
        </div>
    </header>
    <div class="slice clearfix">
        <div class="container">
           <%- include ('../alerts.ejs') %>
            <div class="row">
                <aside class="span3" id="sidebar">
                    <nav id="subnav">
                        <ul>
                            <li ><a href="/staff/stats">Stats</a></li>
                            <li ><a href="/staff/oauthclients">OAuth Clients</a></li>
                            <li ><a href="">Users</a></li>
                        </ul>
                        <div class="littleShadow"></div>
                    </nav>
                    <section id="widgetArea">
                        <div class="widget">
                            <h3> widget 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut auctor lorem. Curabitur at lobortis nulla. Sed tincidunt, orci sit amet varius ornare,</p>
                        </div>
                    </section>
                </aside>
                <div class="span9">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-1">When</th>
                            <th class="col-md-1">Who</th>
                            <th class="col-md-1">Platform</th>
                            <th class="col-md-1">Java Exp</th>
                            <th class="col-md-8">Description</th>
                        </tr>
                        </thead>
                        <% for (var i=0; i<enrollments.length; i++) { %>
                        <tr >
                            <td><%= date_util(enrollments[i].created, timeZone).toRelativeCalendar() %></td>
                            <td><%= enrollments[i].email %></td>
                            <td><%= enrollments[i].platform %></td>
                            <td><%= enrollments[i].javaExp %></td>
                            <td><%= enrollments[i].description %></td>
                            <td><a href="/staff/processenroll/<%=enrollments[i].id%>"><i class="icon-mail" title="Send invitation"></i></a></td>
                        </tr>
                        <% } %>
                    </table>
                    <% if (pages > 5) { pages = 5 } %>
                    <% if (pages > 1) { %>
                    <div class="pagination pagination-centered">
                        <ul>
                            <% if (page > 0) { %><li> <a href="?page=<%= page-1 %>"> Prev </a> </li><% } %>
                            <% for (var i=0; i <= pages; i++) { %>
                            <li <% if (i == page) {%>class="active"<%}%>> <a href="?page=<%= i %>"><%= i+1 %></a> </li>
                            <% } %>
                            <% if (page < pages) { %><li> <a href="?page=<%= page+1 %>"> Next </a> </li><% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content -->
<%- include ('../footer.ejs') %>
