<% section = 'staff' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Staff</h1>
<%- include ('../alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="/staff/stats">Stats</a></li>
                <li class="nav-item"><a class="nav-link active" href="/staff">Enrollments</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff/invitations">Invitations</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff/oauthclients">OAuth Clients</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>When</th>
                    <th>Who</th>
                    <th>Platform</th>
                    <th>Java Exp</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < enrollments.length; i++) { %>
                <tr>
                    <td><%= date_util(enrollments[i].created, timeZone).toRelativeCalendar() %></td>
                    <td><%= enrollments[i].email %></td>
                    <td><%= enrollments[i].platform %></td>
                    <td><%= enrollments[i].javaExp %></td>
                    <td><%= enrollments[i].description %></td>
                    <td><a href="/staff/processenroll/<%=enrollments[i].id%>" title="Send invitation"><i class="bi bi-envelope"></i></a></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <%- include ('../_pagination.ejs') %>
    </div>
</div>
<%- include ('../footer.ejs') %>
