<% section = 'staff' %>
<%- include ('../header.ejs') %>
<h1 class="page-header">Staff</h1>
<%- include ('../alerts.ejs') %>
<div class="row">
    <div class="col-md-3 mb-3">
        <nav class="sidebar-nav">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link active" href="/staff/stats">Stats</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff">Enrollments</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff/invitations">Invitations</a></li>
                <li class="nav-item"><a class="nav-link" href="/staff/oauthclients">OAuth Clients</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <h3>Current Statistics</h3>
        <p class="text-body-secondary">Last collected on <%= last5MinStatTimestamp %></p>
        <div class="row g-3">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-stat">
                    <div class="stat-value"><%=userCount%></div>
                    <div class="stat-label">Users Registered</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-stat">
                    <div class="stat-value"><%=openhabCount%></div>
                    <div class="stat-label">openHABs</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-stat">
                    <div class="stat-value"><%=openhabOnlineCount%></div>
                    <div class="stat-label">openHABs Online</div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-stat">
                    <div class="stat-value"><%=userDeviceCount%></div>
                    <div class="stat-label">User Devices</div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../footer.ejs') %>
